@import "button";
@import "config";
@import "utils";


* {
  @include reset-pm();
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

h2 {
  font-weight: bolder;
  font-size: size(6);
}

h3 {
  font-weight: lighter;
  font-size: size(3);
}

.container {
  background-color: white;
  margin: 100px auto;
  width: 1280px;
  padding: 50px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
  background-image: url(/public/bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

ul {
  @include reset-pm();
  list-style: none;
  display: flex;
  gap: 20px;
  li {
    a {
      @include btn($terciary-color, $font-color, "true");
      &:hover {
        @include btn($secondary-color, $terciary-color, "false");
      }
    }
  }
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.prices {
  .prev {
    font-size: size(2);
    font-weight: bolder;
    color: $font-color;
    text-decoration: line-through;
  }
  .now {
    font-size: size(5);
    font-weight: bolde;
  }
}

.row {
  display: flex;
  align-items: center;
  .col {
    width: 50%;
  }
  .col-30 {
    width: 30%;
  }
  .col-70 {
    width: 70%;
  }
}

.m-auto {
  margin: 0 auto;
}

@for $i from 1 to $limit {
  .m-#{$i} {
    margin: $i * $unit;
  }
  .p-#{i} {
    padding: $i * $unit;
  }
  .py-#{$i} {
    padding: $i * $unit 0;
  }
}

@for $i from 1 to 4 {
  .w-#{$i} {
    width: $i * 25%;
  }
}
